mixin productHorizontal(data, size)
    - var {src, name, discount, rate,currentPrice,oldPrice, desc} = data
        div(class=`product__item product__horizontal ${size== "small" && "product__horizontal-small"}`)
                div(class=` ${size=="small" ? "col-4 p-0":"col-lg-3"}`) 
                    .product__image
                        img(src=`./assets/images/${src}.png`, alt="anh")
                div(class=` ${size=="small" ? "col-7 p-0":"col-lg-9"}`) 
                    div(class=`product__content ${size== "small" && "product__content-small"}`)
                        .product__name 
                            h4= name 
                        .product__rate 
                            if(Math.floor(rate) < 5)
                                - for( var i=0; i< Math.floor(rate); i++)
                                    i(class="fas fa-star")
                                - for(var i=0; i<(5-Math.floor(rate)); i++)
                                    if(i==0)
                                        i(class="fas fa-star-half-alt")
                                    else
                                        i(class="far fa-star")
                        if(desc)
                            .product__decs 
                                p= desc
                        .product__price 
                            span.product__price-current=  `${currentPrice} `
                            if(oldPrice)
                                span.product__price-old= `${oldPrice} `
                        if (size !="small")
                            .product__widget  
                                button.button.button-round.button-green  Mua ngay 
                                .product__icon.icon.icon-round
                                    i(class="fas fa-search")
                                .product__icon.icon.icon-round
                                    i(class="fas fa-heart")
                        
mixin productVertical({src, name, discount, rate,currentPrice,oldPrice, desc})
    .product__item
        if(discount)
            div(class=`product__discount  ${discount=="New" &&  "product__discount-green"}`)= discount
        .product__image 
            img(src=`./assets/images/${src}.png`, alt="anh")
            .product__widget  
                button.button.button-round.button-green  Mua ngay 
                .product__icon.icon.icon-round
                    i(class="fas fa-search")
        .product__content
            .product__name 
                h4= name 
            .product__rate 
                if(Math.floor(rate) < 5)
                    - for( var i=0; i< Math.floor(rate); i++)
                        i(class="fas fa-star")
                    - for(var i=0; i<(5-Math.floor(rate)); i++)
                        if(i==0)
                            i(class="fas fa-star-half-alt")
                        else
                            i(class="far fa-star")
                else 
                    - for( var i=0; i< Math.floor(rate); i++)
                        i(class="fas fa-star")
            .product__decs 
                p= desc
            .product__price 
                span.product__price-current=  `${currentPrice} `
                if(oldPrice)
                    span.product__price-old= `${oldPrice} `
        
            


